<!DOCTYPE html>
<html>
<title>
Arduino Grapher
</title>
<meta http-equiv="refresh" content="10" name="viewport" content="width=device-width, initial-scale=1">
<style>
body {text-align: center;background-color:#ffffff;background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
h1{text-align: center;font-family:Arial, sans-serif;color:#000000;background-color:#ffffff;}
h2{text-align: center;font-family:Arial, sans-serif;color:#000000;background-color:#ffffff;font-size:20px;}
p {text-align: center;font-family:Georgia, serif;font-size:14px;font-style:normal;font-weight:normal;color:#000000;background-color:#ffffff;}
</style>
<h1>
    Arduino Grapher
</h1>
<h2>
    Information is automatically refreshed every 10 seconds
</h2>
<body>
    <p>
        {% include 'figure.html' %}
    </p>
    <form action="/">
        <input type="submit" value="Back" />
    </form>
</body>

</html>
